<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CIS2300/blob/main/PythonStrings_Spring_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b>Strings in Python</b>   

*from '30 Days of Python: Day 4 - Strings', [Asabeneh Yetayah, on Github](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/04_Day_Strings/04_strings.md), July 2021,*  
*Dr. Charles Severance, [Python for Everyybody](https://www.py4e.com/lessons/) [Strings (Chapter 7)](https://www.py4e.com/lessons/strings)*  
*... and, Professor Patrick | 2022, 2023, 2024, 2025*

# Python Strings  
  
*A copy of this notebook can be accessed at --*
- **https://bit.ly/PythonStrings**



---

##Strings

Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types. To check the length of a string use the len() method.

###Creating a String

In [ ]:

letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying your day"
print(sentence)

In [ ]:
sentence = 'I hope you are enjoying your day?"'
print(sentence)

Multiline string is created by using triple single (''') or triple double quotes ("""). See the example below.

In [ ]:

multiline_string = '''I am a fashion designer and enjoy sewing.
I didn't find anything as rewarding as creating style.
That is why I created my own fashion line.'''
print(multiline_string)
print()
# Another way of doing the same thing
multiline_string = """I am a fashion designer and enjoy sewing.
I didn't find anything as rewarding as creating style.
That is why I created my own fashion line."""
print(multiline_string)

We can also take the content of a variable of another type and create a string with the `str()` function.

In [ ]:

# creating a string from the float value of pi
from math import pi  # we will learn more about importing objects later
print('The value of pi is', pi)
print('The type of pi is', type(pi))
stringObject = str(pi)
print('The string of pi is', stringObject)
print('The type of stringObject is', type(stringObject))



---

### String Operations

We can connect strings together. Merging or connecting strings is called **concatenation**. We can also repeat strings with a multipification factor in **repitition**.  See the examples below:

#### Concatatenate Strings with `+`

The `+` operator can be used to append one string to another in concatenation.

In [ ]:
# concatenation

# note that + concatenates strings

str1 = "hello"
str2 = "world"
message = str1 + " " + str2 + "!"
print(message)

In [ ]:
# Notice the difference of the + operation when operating on text vs. numeric variables:

x = 41
x = x + 1
print(x)
print (type(x))

In [ ]:
x = 41.0
x = x + 1
print(x)
print (type(x))

In [ ]:
x = "41"
x = x + "1"
print(x)
print(type(x))

We can concatenate multiple strings together.  Each string concatenated does not need to be a variable, as the following example demonstrates.

In [ ]:

first_name = 'Taylor'
last_name = "Swift"
space = ' '
full_name = first_name  +  " " + last_name
print(full_name) # Taylor Swift
# Checking the length of a string using len() built-in function
print(len(first_name))  # 6
print(len(last_name))   # 5
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 11

#### Repeat Strings with `*`

The `*` operator can be used to repeat a string any number of times.

In [ ]:
# example of string repetition

stringValue = 'See you, '
print(stringValue * 3)

Note that the multiplication factor used for string repetition must be an integer

In [ ]:

# the following works...
from math import pi  # we will learn more about importing objects later
print(pi)

In [ ]:

# ... but, the following generates an error
from math import pi  # we will learn more about importing objects later
stringObject = 'pi = , '
print(stringObject * pi)

We can also create an expression that uses both `+` and `*` with strings.

In [ ]:
# combining string operators -- remember PEMDAS!
stringObject1 = 'See you,'
stringObject2 = " at the party,"
stringObject3 = ' tonight, Richter!'
print(stringObject1 + stringObject2 * 3 + stringObject3)



---

### Escape Sequences in Strings

In Python and other programming languages \ followed by a character is an escape sequence. Let us see the most common escape characters:

- \n: new line
- \t: Tab means(8 spaces)
- \\\\: Back slash
- \\': Single quote (')
- \\": Double quote (")

Now, let us see the use of the above escape sequences with examples.

In [ ]:
str1 = 'This isn\'t a good example'
print(str1) # This isn't a good example

Let's try a few examples...

In [ ]:

str2 = "I want to print a backslash: \\"
print(str2)

In [ ]:

str3 = 'This is a string within single quotes that can contain "double quotes" as part of the string'
print(str3)

In [ ]:

str4 = 'If we want to have \'single quotes\' in single quoted string we should escape them'
print(str4)

In [ ]:

str5 = "Similarly, if we want to have \"double quotes\" in double quoted string we should escape them\n"
print(str5)

Here is an example that makes use of a mix of escape sequences.

In [ ]:

print('I hope everyone is enjoying the Python stringObject.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces
print('Day 1\t5\t5')
print('Day 2\t6\t20')
print('Day 3\t5\t23')
print('Day 4\t1\t35')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

<b><u>Output</b></u>  
```
I hope every one is enjoying the Python stringObject.
Are you ?
Days	Topics	Exercises
Day 1	5	    5
Day 2	6	    20
Day 3	5	    23
Day 4	1	    35
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"
```

### String Formatting


#### String Interpolation
*(Python 3.6+)*

String interpolation in Python is a method of embedding or inserting variables directly into a string. This approach is especially useful for dynamically generating text that includes values from variables, making code cleaner and more readable. Python supports several ways to accomplish string interpolation:

- `f-strings`  
- `.format()` method
- `%` embedding <font color=red>*This is an older technique for formatting strings in Python that is explained in the appendix at the bottom of this notebook.*</font>

`f-strings` are generally preferred for their readability and efficiency.
String interpolation allows expressions and more complex formatting within strings, enhancing flexibility and reducing the need for manual string concatenation.

#### Formatting Strings with `f-strings`  
*formatted string literals*

Introduced in Python 3.6, `f-strings` are the most popular method of string interpolation. You prefix the string with `f` and place variables or expressions within `{}`.

Here is an example using `f` strings or formatted literals.  Notice that the type of the variable referenced does not need to be a string.  In the the following example, the `age` integer value `30` is converted to a string for embedding in place of `{age}` in the `f` string printed.

In [ ]:

name = "Alice"
age = 30
message = f"My name is {name} and I am {age} years old."
print(message)  # Output: My name is Alice and I am 30 years old.

Here is another set of examples using `f-strings`.

In [ ]:

a = 4
b = 3
print(f'{a} + {b} = {a + b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

#### Formatting Strings with `.format()` Method

The `.format()` method allows you to insert variables by calling `.format()` on the string and using placeholders (`{}`) where the values should appear.

Notice that in the following example, the `.format()` method is passed two arguments ( and ) and that each argument's value is embedded in the `{}` braces pair in sequential order, from left to right.

In [ ]:

name = "Bob"
age = 25
message = "My name is {} and I am {} years old.".format(name, age)
print(message)  # Output: My name is Bob and I am 25 years old.

Try that same code but with the order of the arguments reversed.

In [ ]:

name = "Bob"
age = 25
message = "My name is {} and I am {} years old.".format(age, name)
print(message)  # Output: My name is 25 and I am Bob years old.

*You can see why care must be taken to avoid confusing argument sequences when using the `.format()` method -- there is a greater risk of error, and additional effort required in maintaining the code.  `f` strings have a clear advantage.*

*The `%` embedding method is even more cumbersome.  We will not go over it here.  It is discussed in the appendix as a reference.*



---

### Python Strings as Sequences of Characters

Python strings are sequences of characters, and share their basic methods of access with other Python ordered sequences of objects â€“ lists and tuples. The simplest way of extracting single characters from strings (and individual members from any sequence) is to unpack them into corresponding variables.

#### Unpacking Characters

In [ ]:

word = 'Python'
a,b,c,d,e,f = word # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t
print(d) # h
print(e) # o
print(f) # n

#### Accessing Characters in Strings by Index

In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.

![StringSequence.png]()

**Indexing and Slicing: Accessing parts of the string**

*Indexing*

Strings can be indexed (subscripted), with the first character having index 0.

In [ ]:
word = "Python"
print(word)

In [ ]:
word[0]  # character in position 0
print(word[0])

In [ ]:
word[1]
print(word[1])

In [ ]:
word[5]  # character in position 5
print(word[5])

**Negative indexing**

Indices may also be negative numbers, to start counting from the right:

In [ ]:
word[-1]  # last character
print(word[-1])

In [ ]:
word[-2]  # second-last character
print(word[-2])

In [ ]:
word[-6]
print(word[-6])

In [ ]:

word = 'Python'
first_letter = word[0]
print(first_letter) # P
second_letter = word[1]
print(second_letter) # y
last_index = len(word) - 1
last_letter = word[last_index]
print(last_letter) # n

If we want to start from the right end we can use negative indexing. -1 is the last index.

In [ ]:

word = 'Python'
last_letter = word[-1]
print(last_letter) # n
second_last = word[-2]
print(second_last) # o

#### Slicing Python Strings

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain a substring:

In [ ]:
word = "Python"
print(word)

In [ ]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)
print(word)
print(word[0:2])

In [ ]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)
print(word)
print(word[2:5])

In [ ]:
word[2:]  # characters from position 2 (included) to the end
print(word[2:])

In [ ]:
word[:3]  # characters from beginning (position 0) to position 3 (excluded)
print(word[:3])

In [ ]:
word[-3:]  # last three characters
print(word[-3:])

In [ ]:
word[-3:-1]  # penultimate two characters
print(word[-3:-1])

In [ ]:
word[1:-1]
print(word[1:-1])

In [ ]:

word = 'Python'
first_three = word[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) #Pyt
last_three = word[3:6]
print(last_three) # hon
# Another way
last_three = word[-3:]
print(last_three)   # hon
last_three = word[3:]
print(last_three)   # hon

#### Reversing a String

We can easily reverse strings in python.

In [ ]:

greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

#### Skipping Characters While Slicing

It is possible to skip characters while slicing by passing step argument to slice method.

In [ ]:

word = 'Python'
pto = word[0:6:2] #
print(pto) # Pto

**Exercise**

Assign the string 'Information and Data Management' to a Python variable.
Print the word 'Information' by using the indexing/slicing approach.
Print the word 'Data' by using the negative indexing/slicing approach.

In [ ]:
# here is my solution



---

### <font color="#D2691E">BREAK</font>

<font color="#D2691E">Take a break before we proceed to discussing many of the methods that can be used with strings.</font>

![CIS9650_PythonStrings_Fall_2024.png]()



---

### String Methods

There are many string methods which allow us to format strings. See some of the string methods in the following example:

#### String Methods - *Formatting*

- strip(): Removes all given characters starting from the beginning and end of the string

In [ ]:

stringObject ='thirty days of pythoonnn'
print(stringObject.strip('noth')) # 'irty days of py'

- lower(): Converts the characters of the string to lower case

In [ ]:

stringObject ='Thirty Days of Python'
print(stringObject.lower()) # 'thirty days of python'

- upper(): Converts the characters of the string to UPPER CASE

In [ ]:

stringObject ='Thirty days of python'
print(stringObject.upper()) # 'THIRTY DAYS OF PYTHON'

- capitalize(): Converts the first character of the string to capital letter

In [ ]:

stringObject ='thirty days of python'
print(stringObject.capitalize()) # 'Thirty days of python'

- title(): Returns a title cased string

In [ ]:

stringObject ='thirty days of python'
print(stringObject.title()) # Thirty Days Of Python

- swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

In [ ]:

stringObject ='thirty days of python'
print(stringObject.swapcase())   # THIRTY DAYS OF PYTHON
stringObject ='Thirty Days Of Python'
print(stringObject.swapcase())  # tHIRTY dAYS oF pYTHON

- expandtabs(): Replaces tab character with spaces, default tab size is 8.
 It takes tab size argument

In [ ]:

stringObject ='thirty\tdays\tof\tpython'
print(stringObject.expandtabs())   # 'thirty  days    of      python'
print(stringObject.expandtabs(10)) # 'thirty    days      of        python'

- format(): An alternate means of embedding variable values in a string.  See the section of this notebook on `f-strings` for a preferred technique.

In [ ]:

first_name = 'Taylor'
last_name = 'Swift'
age = 250
job = 'cyclist'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I am {} years old. I live in {}.'.format(first_name, last_name, job, age, country)
print(sentence) # I am Taylor Swift. I am 250 years old. I am a teacher. I live in Finland.

In [ ]:
radius = 10
pi = 3.14
area = pi * radius ** 2
result = 'The area of a circle with radius {} is {}'.format(str(radius), str(area))
print(result) # The area of a circle with radius 10 is 314

#### String Methods - *Evaluation*

- count(): returns occurrences of substring in string, count(substring, start=.., end=..). The start is a starting indexing for counting and end is the last index to count.

In [ ]:

stringObject ='thirty days of python'
print(stringObject.count('y')) # 3
print(stringObject.count('y', 7, 14)) # 1,
print(stringObject.count('th')) # 2`

#### String Methods - *Search*

- find(): Returns the index of the first occurrence of a substring, if not found returns -1

In [ ]:

stringObject ='thirty days of python'
print(stringObject.find('y'))  # 5
print(stringObject.find('th')) # 0
print(stringObject.find('z')) # -1

- rfind(): Returns the index of the last occurrence of a substring, if not found returns -1

In [ ]:

stringObject ='thirty days of python'
print(stringObject.rfind('y'))  # 16
print(stringObject.rfind('th')) # 17

- index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). If the substring is not found it raises a valueError.

In [ ]:

stringObject ='thirty days of python'
sub_string = 'da'
print(stringObject.index(sub_string,))  # 7

In [ ]:
print(stringObject.index(sub_string, 9)) # error

- rindex(): Returns the highest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1)

In [ ]:

stringObject ='thirty days of python'
sub_string = 'da'
print(stringObject.rindex(sub_string))  # 7
print(stringObject.rindex('on', 8)) # 19

In [ ]:
print(stringObject.rindex(sub_string, 9)) # error

#### String Methods - *Boolean*

- startswith(): Checks if String Starts with the Specified String

In [ ]:

stringObject ='thirty days of python'
print(stringObject.startswith('thirty')) # True

stringObject ='30 days of python'
print(stringObject.startswith('thirty')) # False

- endswith(): Checks if a string ends with a specified ending

In [ ]:

stringObject ='thirty days of python'
print(stringObject.endswith('on'))   # True
print(stringObject.endswith('tion')) # False

- isalnum(): Checks alphanumeric character

In [ ]:

stringObject ='ThirtyDaysPython'
print(stringObject.isalnum()) # True

stringObject ='30DaysPython'
print(stringObject.isalnum()) # True

stringObject ='thirty days of python'
print(stringObject.isalnum()) # False, space is not an alphanumeric character

stringObject ='thirty days of python 2019'
print(stringObject.isalnum()) # False

- isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

In [ ]:

stringObject ='thirty days of python'
print(stringObject.isalpha()) # False, space is once again excluded
stringObject ='ThirtyDaysPython'
print(stringObject.isalpha()) # True
num = '123'
print(num.isalpha())      # False

- isdecimal(): Checks if all characters in a string are decimal (0-9)

In [ ]:

stringObject ='thirty days of python'
print(stringObject.isdecimal())  # False
stringObject ='123'
print(stringObject.isdecimal())  # True
stringObject ='\u00B2'
print(stringObject.isdigit())   # False
stringObject ='12 3'
print(stringObject.isdecimal())  # False, space not allowed

- isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

In [ ]:

stringObject ='Thirty'
print(stringObject.isdigit()) # False
stringObject ='30'
print(stringObject.isdigit())   # True
stringObject ='\u00B2'
print(stringObject.isdigit())   # True

- isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like Â½)

In [ ]:

num = '10'
print(num.isnumeric()) # True
num = '\u00BD' # Â½
print(num.isnumeric()) # True
num = '10.5'
print(num.isnumeric()) # False

- isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

In [ ]:

stringObject ='30DaysOfPython'
print(stringObject.isidentifier()) # False, because it starts with a number
stringObject ='thirty_days_of_python'
print(stringObject.isidentifier()) # True

- islower(): Checks if all alphabet characters in the string are lowercase

In [ ]:

stringObject ='thirty days of python'
print(stringObject.islower()) # True
stringObject ='Thirty days of python'
print(stringObject.islower()) # False

- isupper(): Checks if all alphabet characters in the string are uppercase

In [ ]:

stringObject ='thirty days of python'
print(stringObject.isupper()) #  False
stringObject ='THIRTY DAYS OF PYTHON'
print(stringObject.isupper()) # True

#### String Methods - *Slice and Set Operations*

Let's look at splitting and joining strings, using the `.split()` and `.join()` functions.

* `longstring.split(separator)`: split the first string (longstring) at every occurrence of the second string (separator).  Returns a list (see below).
* `connector.join(list)`: join is the "reverse" of split, and joins all the elements of the list, using the connector string in front. Returns a string.

- `split()`: Splits the string, using given string or space as a separator and returns a list of strings that resulted from the splitting.

In [ ]:
print("practical data science".split(" "))

If we do not give the `.split()` method an argument, it uses a space (' ') as the delimiter for splitting.

In [ ]:

stringObject ='thirty days of python'
print(stringObject.split()) # ['thirty', 'days', 'of', 'python']

We can choose any character or sequence of characters to use as the argument for the `.split()` method.

In [ ]:

stringObject ='thirty, days, of, python'
print(stringObject.split(', ')) # ['thirty', 'days', 'of', 'python']

In [ ]:
str_a ="First Name\tLast Name\tEmail"
str_b ="Aaron\tRodgers\taaron@nfl.com"
str_c ="Giannis\tAntetokounmpo\tgiannis@nba.com"
print(str_a.split('\t'))
print(str_b.split('\t'))
print(str_c.split('\t'))

In [ ]:
#Notice that when we split a string and the delimiter
#character does not appear, then we get back the string
#itself, but converted into a list with a single element.

print("hello".split(" "))

**Exercise**

Consider the string billgates@microsoft.com. Write code that finds the username of the email address and the domain of the email address, using the split() command.

In [ ]:
# here is my solution

We can also use the `.join()` method on a **connector** string and join together the strings provided as a list of arguments.

- join(): Returns a concatenated string

In [ ]:

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = ' '.join(web_tech)
print(result) # 'HTML CSS JavaScript React'

In [ ]:

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#*#'.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

We can search for a character or sequence of characters (a sub-string) within a string and replace instances of it with a new string, provided as a second argument to the `.replace()` method.

- replace(): Replaces a substring with a given string

In [ ]:

stringObject ='thirty days of python'
print(stringObject.replace('python', 'coding')) # 'thirty days of coding'

If we provide an empty string as the second argument to the `.replace()` method, we essentially remove any instances of the sub-string from the string.

In [ ]:

stringObject ='I was typo typing and typo made typo many mistakes typo.'
print(stringObject.replace(" typo", "")) # 'I was typing and made many mistakes.'



---

**Exercise**  
  
Using the `glkBabe` string of the lyrics to "Good Luck Babe", what Python code could be used to determine how many times the word 'good' is used?  Write your code so that the word 'good' is counted regardless of the case in which it occurs (lower, upper, title, etc.)

In [ ]:
glkBabe = ''' "Good Luck, Babe!"
It's fine, it's cool
You can say that we are nothing, but you know the truth
And guess I'm the fool
With her arms out like an angel through the car sunroof

I don't wanna call it off
But you don't wanna call it love
You only wanna be the one that I call "baby"

You can kiss a hundred boys in bars
Shoot another shot, try to stop the feeling
You can say it's just the way you are
Make a new excuse, another stupid reason
Good luck, babe (Well, good luck)
Well, good luck, babe (Well, good luck)
You'd have to stop the world just to stop the feeling
Good luck, babe (Well, good luck)
Well, good luck, babe (Well, good luck)
You'd have to stop the world just to stop the feeling

I'm clichÃ©, who cares?
It's a sexually explicit kind of love affair
And I cry, it's not fair
I just need a little lovin', I just need a little air

Think I'm gonna call it off
Even if you call it love
I just wanna love someone who calls me "baby"

You can kiss a hundred boys in bars
Shoot another shot, try to stop the feeling
You can say it's just the way you are
Make a new excuse, another stupid reason
Good luck, babe (Well, good luck)
Well, good luck, babe (Well, good luck)
You'd have to stop the world just to stop the feeling
Good luck, babe (Well, good luck)
Well, good luck, babe (Well, good luck)
You'd have to stop the world just to stop the feeling

When you wake up next to him in the middle of the night
With your head in your hands, you're nothing more than his wife
And when you think about me, all of those years ago
You're standing face to face with "I told you so"
You know I hate to say it, I told you so
You know I hate to say, but I told you so
'''

In [ ]:
# My code here



---

Here are some more exercises...


## ðŸ’» Exercises - Strings

1. Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.
2. Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.
3. Declare a variable named company and assign it to an initial value "Coding For All".
4. Print the variable company using _print()_.
5. Print the length of the company string using _len()_ method and _print()_.
6. Change all the characters to uppercase letters using _upper()_ method.
7. Change all the characters to lowercase letters using _lower()_ method.
8. Use capitalize(), title(), swapcase() methods to format the value of the string _Coding For All_.
9. Cut(slice) out the first word of _Coding For All_ string.
10. Check if _Coding For All_ string contains a word Coding using the method index, find or other methods.
11. Replace the word coding in the string 'Coding For All' to Python.
12. Change Python for Everyone to Python for All using the replace method or other methods.
13. Split the string 'Coding For All' using space as the separator (split()) .
14. "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" split the string at the comma.
15. What is the character at index 0 in the string _Coding For All_.
16. What is the last index of the string _Coding For All_.
17. What character is at index 10 in "Coding For All" string.
18. Create an acronym or an abbreviation for the name 'Python For Everyone'.
19. Create an acronym or an abbreviation for the name 'Coding For All'.
20. Use index to determine the position of the first occurrence of C in Coding For All.
21. Use index to determine the position of the first occurrence of F in Coding For All.
22. Use rfind to determine the position of the last occurrence of l in Coding For All People.
23. Use index or find to find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
24. Use rindex to find the position of the last occurrence of the word because in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
25. Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
26. Find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
27. Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
28. Does '\'Coding For All' start with a substring _Coding_?
29. Does 'Coding For All' end with a substring _coding_?
30. '&nbsp;&nbsp; Coding For All &nbsp;&nbsp;&nbsp; &nbsp;' &nbsp;, remove the left and right trailing spaces in the given string.
31. Which one of the following variables return True when we use the method isidentifier():
    - 30DaysOfPython
    - thirty_days_of_python
32. The following list contains the names of some of python libraries: ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']. Join the list with a hash with space string.
33. Use the new line escape sequence to separate the following sentences.
    
    I am enjoying this stringObject.
    I just wonder what is next.
    
34. Use a tab escape sequence to write the following lines.
    
    Name      Age     Country   City
    Taylor  250     Finland   Helsinki
    
35. Use the string formatting method to display the following:

```
radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.
```

36. Make the following using string formatting methods:

```
8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 / 6 = 1.33
8 % 6 = 2
8 // 6 = 1
8 ** 6 = 262144
```



---

##Appendix - An Older Way to Format Strings

You may run into older programs, written before Python 3.6, that formatted strings in a different way.  The old way of formatting strings can be awkward to work with, but an example is presented here so that you can understand it and be aware of it.  Do not write your programs using this technique because it will make maintenance of your code by others cumbersome.

#### <font color=red>Old Style String Formatting</font>    
<font color=red>`(% Operator)`</font>

In Python there are many ways of formatting strings. In this section, we will an older technique.  This older method uses % to insert values. Although itâ€™s less common in modern Python, itâ€™s still supported for backward compatibility.  
  
The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.<small>number of digits</small>f".

- %s - String (or any object with a string representation, like numbers)
- %d - Integers
- %f - Floating point numbers
- "%.<small>number of digits</small>f" - Floating point numbers with fixed precision

In [ ]:

name = "Charlie"
age = 28
# note the use of `s` to denote a string and `d` for integer in the next line
message = "My name is %s and I am %d years old." % (name, age)
print(message)  # Output: My name is Charlie and I am 28 years old.

Here are some more examples.

In [ ]:

# Strings only
first_name = 'Taylor'
last_name = 'Swift'
word = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, word)
print(formated_string)

In [ ]:

# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point
print(formated_string) # The area of circle with a radius 10 is 314.00.

In [ ]:

# Strings  and numbers
python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) # "The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']"


---